:root {
	--header-height: 10vh;
	--header-margin: 3vh;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 1;
}

body {
	padding-top: calc(var(--header-height) + var(--header-margin));
}

button:hover,
input[type|="submit"]:hover {
	cursor: pointer;
	transform: scale(110%);
}

header {
	width: 100%;
	height: var(--header-height);
	background-color: blue;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5%;

	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

header div:last-child {
	width: 25%;
}

header button {
	padding: 3%;
	background-color: white;
	border: 1px solid darkblue;
	color: darkblue;
	border-radius: 8px;
	transition: 0.5s;
}

header button:hover {
	background-color: #00008b;
	color: white;
	border: 1px solid white;
	transform: scale(110%);
}

/* Notification box styling */
.notif {
	position: fixed;
	left: 15px;
	top: calc(var(--site-header-height) + 15px);
	width: 24rem;
	height: auto;
	aspect-ratio: 16/7;
	background-color: rgba(127, 255, 212, 0.75);
	border: rgb(127, 255, 212) solid 2px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	z-index: 999;

	animation: notif-in 1 1.5s forwards normal;
}

.notif-out {
	animation: notif-out 1 1.5s forwards normal;
}

.notif-red {
	background-color: rgba(255, 127, 127, 0.75);
	border: rgb(255, 127, 127) solid 2px;
}

.notif-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.notif-header-text {
	font-size: 1.35rem;
}

.notif-close {
	font-size: 0.85rem;
	text-decoration: underline;
}

.notif-close:hover {
	cursor: pointer;
}

@keyframes notif-in {
	0% {
		opacity: 0;
		transform: translateY(-75px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes notif-out {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(-200px);
	}
}

/* #region SVG filters */

.svg-darkblue {
	filter: invert(17%) sepia(34%) saturate(5248%) hue-rotate(231deg)
		brightness(77%) contrast(144%);
}

.svg-darkred {
	filter: invert(15%) sepia(34%) saturate(6770%) hue-rotate(9deg)
		brightness(92%) contrast(108%);
}

/* #endregion */
