/* TABLE */
.table-container {
	width: 100%;
	padding: 0px 5%;
	margin-bottom: 5%;
}

table {
	width: 100%;
}

.table-header {
	background-color: black;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 2% 0px;
	color: white;
}

.table-header td {
	padding: 1% 0px;
}

.table-data td {
	height: 50px;
	padding: 5px 2%;
	border-bottom: 2px solid gray;
	text-align: center;
}

.row-controls button {
	background: none;
	border: none;
	transition: 0.5s;
}

.row-controls a:first-child {
	margin-right: 4%;
}

.row-controls button:hover {
	transform: scale(125%);
}

/* ADD FORM */
.form-container {
	width: 100%;
	margin-bottom: var(--header-margin);
}

.add-form {
	width: 35%;
	padding-top: 2%;
	border-radius: 25px;
	margin: 0px auto;

	background-color: blue;
	border: 2px solid darkblue;
	color: white;
}

.add-form h2 {
	text-align: center;
	margin-bottom: 2%;
}

.add-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-form form div {
	width: 80%;
}

.add-form form > div > label {
	width: 35%;
	display: inline-block;
}

.add-form form select,
.add-form form input {
	width: 50%;
}

.add-form form select {
	text-align: center;
}

.add-form form select:hover {
	cursor: pointer;
}

.submit-btn {
	background-color: white;
	color: darkblue;
	font-weight: bold;
	padding: 2% 0px;
	border-radius: 10px;
	border: 2px solid darkblue;
	transition: 0.5s;
}

.submit-btn:hover {
	background-color: darkblue;
	color: white;
	border: 2px solid white;
}

.add-form form > * {
	margin-bottom: 4%;
}

.green-text {
	color: green;
	font-weight: bold;
}

.red-text {
	color: red;
	font-weight: bold;
}
